#README
# * This is an example to how to configure crontab - just write all jobs in here, and let oradock configure it for you!
# * All scripts placed in here will be mapped to directory '/home/oracle/jobs' on inside the container
# * You can write new jobs and stop/start the container, forcing crontab to read this file
# * This config will be read at the creation time of container. If you have already created the container, then this script will be useless to you

#00 02 6 * * /home/oracle/jobs/statistics.sh exampledb 20	> /home/oracle/jobs/statistics_exampledb.log
#00 01,12 * * * /home/oracle/jobs/clean_archive.sh exampledb > /home/oracle/jobs/clean_archive_exampledb.log
